body {
	margin: 0;
	background-color: #222;
}
canvas {
	display: block;
	margin: 0 auto;
	background-color: #87ceeb; /* background color for the canvas - suppost to look like sky*/
	border: 2px solid black;
}
